@import url('https://fonts.googleapis.com/css?family=Nunito');

*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	width: 100%;
	height:100%;
}

body {
	margin: 0;
	font-family: 'Nunito', sans-serif;
	height: 100%;
}

.header {
	width: 100%;
	color: white;
	background-color: rgb(143, 188, 143);
}

.header_left {
	padding: 1em 1em 1em 3em;
	float: left;
}

.header-title {
	display: inline-block;
	padding-left: 0.2em;
	font-size: 2.5em;
	letter-spacing: 2px;
}

.home {
	color: white;
}

.header_right {
	font-size: 1.3em;
	padding: 1em 3em 1em 1em;
	float: right;
}

.header-text-inline-block {
	color: white;
	display: inline-block;
	padding: 1.5em;
}

.last {
	padding-right: 3em;
}

.btn-outline-primary {
	font-size: 1em;
    color: white;
    background-color: transparent;
    border-color: white;
}

.quilting-msg {
	font-size: 2.6em;
	font-weight: bold;
	letter-spacing: 1px;
	/*color: rgb(128, 128, 128);*/
	text-align: center;
	padding: 5em 0em 3em 0em;
}

.btn-platform {
	border-color: black;
	background-color: transparent;
}

.platform {
	padding-bottom: 6em;
}

.approach {
	background-color: rgb(250, 250, 250);
	padding-bottom: 4em;
}

.approach-title, .unmetneed, .areasofinterest {
	text-align: center;
	font-size: 2.2em;
	letter-spacing: 1px;
	padding: 2em;
}

.approachinfo, .bigfive {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding: 1em;
}

.approach1, .approach2, .approach3 {
	text-align: center;
}

.approachlogo {
	margin: 1em;
}

.approach-text {
	padding: 1em;
	font-size: 1.5em;
}

.method-title {
	text-align: center;
	font-size: 2.2em;
	/* color: rgb(94, 94, 94); */
	letter-spacing: 1px;
	padding-top: 4em;
}

.method1, .method2 {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding: 6em 2em 4em 2em;
}

.methodpic1, .methodpic2 {
	max-height: 90%;
    max-width: 90%;
}

.method-text {
	font-size: 1.5em;
	text-align: center;
	padding: 2.5em;
}

.methodtext2 {
	padding: 2em 0em 2em 0em;
}

/*
Footer
*/

.foot {
	color: white;
	background-color: rgb(143, 188, 143);
	padding: 2em 3em 2em 3em;
	width: 100%;
}

.footer-title {
	font-size: 1.5em;
	letter-spacing: 2px;
	padding: 0.3em 0em 0em 0.3em;
	display: inline-block;
}

.contactus {
	padding: 1em 1em 1em 6em;
}

.contacttitle {
	color: white;
	font-size: 1.5em;
	letter-spacing: 1.5px;
	padding-left: 0.5em;
	display: inline-block;
}

.social-media-logos {
	padding-left: 6em;
}

.github, .fb, .linked, .twtr {
	padding: 1em;
}

.disclaimer {
	font-size: 0.8em;
}

/*
About us tab
*/

.aboutus {
	font-size: 1.5em;
	letter-spacing: 1px;
	text-align: justify;
	padding: 5em;
}

/* 
News tab
*/

.comingsoon {
	font-size: 1.5em;
	letter-spacing: 1px;
	text-align: center;
	padding: 10em;
}

/*
Science tab
*/

.quilting-msg1 {
	font-size: 2.4em;
	font-weight: bold;
	letter-spacing: 1px;
	/*color: rgb(128, 128, 128);*/
	text-align: center;
	padding: 1em 0em 3em 0em;
}

.sciencehero1{
	padding: 15em 10em 7em 10em;
}

.sciencesection1 {
	background-color: rgb(250, 250, 250);
	padding: 1em 2em 6em 2em;
}

.unmetneed1, .unmetneed2, .unmetneed3 {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding: 1.8em;
	font-size: 1.4em;
}

.ouraim1, .ouraim2 {
	padding: 1em 10em 1em 10em;
	font-size: 1.5em;
	text-align: center;
}

.bigfive {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	padding: 2em;
}

.sciencesection2 {
	padding: 5em 5em 10em 5em;
}

.ocular, .neuro, .derm, .onco, .cardio {
	padding: 0em 5em 0em 5em;
}

.bigfivetitle {
	text-align: center;
	padding: 0em 0.5em 0em 0.5em;
}

.sciencehero2 {
	background-color: rgb(250, 250, 250);
	padding: 5em 10em 15em 10em;
	text-align: center;
}

.sciencehero2title {
	padding: 3em 0em 3em 0em;
}

/* 
Team tab 
*/

.founders, .scientificboard, .devteam {
	padding: 3em 5em 3em 5em;
	text-align: justify;
}

.founders-info, .scientificboard-info, .devteam-info {
	text-align: center;
	padding: 1em;
	font-weight: bold;
}

.founder-name, .sab-name, .dev-name {
	font-weight: bold;
}

.bohdan, .evan, .gozani {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	padding: 2em 0em 2em 4em;
}

.founderprofile {
	padding: 0em 2em 0em 2em;
}

.founderprof {
	padding: 0.8em 0em 2em 0em;
}

.sab1 {
	padding-top: 6em;
	text-align: center;
}

.sab2 {
	text-align: justify;
}

.dev1, .dev2 {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	padding-top: 3em;
	padding-left: 1.5em;
}

.teammate {
	padding: 2em;
	text-align: center;
}

/*
Modal signup
*/

.modal-content {
	-webkit-transform: translate(0, calc(50vh - 50%));
    display: flex;
    justify-content: center;
    /*flex-flow: row wrap;*/
    margin: 0 auto;
    height: 100%;
	width: 100%;
}
    
.signup-container {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    width: 50rem;
    text-align: center;
}

.cancel-icon {
    float: right;
    padding: 0em 0.5em 0em 0.5em;
    cursor: pointer;
}

.signupmessage {
    background: white;
    color: black;
    display: block;
    font-size: 1.8rem;
    line-height: 1;
	padding: 2em;
    text-align: center;
    width: 100%;
}

form {
    background: rgb(143, 188, 143);
    display: flex;
    flex-flow: row nowrap;
    padding: 3rem;
    width: 50rem;
}  

.formwrapper {
    margin: 0 auto;
}

