@import url('https://fonts.googleapis.com/css?family=Nunito');

*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	width: 100%;
	min-height:100vh;
}

body {
	margin: 0;
	font-family: 'Nunito', sans-serif;
	min-height:100vh;
}

.header {
	width: 100%;
	color: white;
	background-color: rgb(143, 188, 143);
}

.header_left {
	padding: 1em;
	float: left;
}

.header_right {
	font-size: 1.3em;
	padding: 1em;
	float: right;
}

.header-title {
	display: inline-block;
	padding-left: 0.2em;
	font-size: 2.5em;
	letter-spacing: 2px;
}

.home {
	color: white;
}

.header-text-inline-block {
	color: white;
	display: inline-block;
	padding: 1.5em;
}

.last {
	padding-right: 3em;

}

.btn-outline-primary {
	font-size: 1em;
    color: white;
    background-color: transparent;
    border-color: white;
}

.quilting-msg {
	font-size: 2.6em;
	font-weight: bold;
	letter-spacing: 1px;
	/*color: rgb(128, 128, 128);*/
	text-align: center;
	padding: 5em 0em 3em 0em;
}

.btn-platform {
	border-color: black;
	background-color: transparent;
}

.platform {
	padding-bottom: 6em;
}

.app {
	background-color: rgb(250, 250, 250);
	padding: 2em 0em 2em 0em;
}

.approach-title {
	text-align: center;
	font-size: 2.5em;
	letter-spacing: 1px;
	padding-bottom: 1em;
}

.approach-row1, .approach-row2, .method-row1, .method-row2 {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
}

.approach-text {
	color: rgb(128, 128, 128);
	font-size: 1.5em;
	letter-spacing: 1px;
	text-align: center;
}

.col-sm-4 {
	padding: 1em 0em 1em 20em;
}

.col-sm-8 {
	padding: 2em 20em 1em 0em;
}

.method-title {
	font-size: 2.5em;
	/* color: rgb(94, 94, 94); */
	letter-spacing: 1px;
	text-align: center;
	padding-top: 2em;
}

.methodology1, .methodology2 {
	padding: 1em;
}

.methodology2 {
	padding-bottom: 6em;
}

.method-row1, .method-row2 {
	padding: 3em;
}

.method1-text {
	color: rgb(128, 128, 128);
	font-size: 1.5em;
	letter-spacing: 1px;
	text-align: center;
	padding: 1em 3.5em 0em 3.5em;
}

.method2-text {
	color: rgb(128, 128, 128);
	font-size: 1.5em;
	letter-spacing: 1px;
	text-align: center;
	padding: 5em 3.5em 0em 3.5em;
}

.methodpic1 {
	max-height: 100%;
    max-width: 100%;
}

.methodpic2 {
	max-height: 95%;
	max-width: 95%;
}

.footer {
	width: 100%;
	color: white;
	background-color: rgb(143, 188, 143);
	padding: 1em 5em 1em 5em;
}

.footerlogo {
	float: left;
}

.footer-title {
	font-size: 1.5em;
	letter-spacing: 2px;
	padding: 0.3em 0em 0em 0.3em;
	display: inline-block;
}

.disclaimer {
	font-size: 0.8em;
}

.social-media {
	float: right;
	margin-right: 4em;
}

.github, .fb, .linked, .twtr {
	margin-right: 2em;
}

.aboutus {
	font-size: 1.5em;
	letter-spacing: 1px;
	text-align: justify;
	padding: 5em;
}

.comingsoon {
	font-size: 1.5em;
	letter-spacing: 1px;
	text-align: center;
	padding: 10em;
}

.quilting-msg1 {
	font-size: 2.6em;
	font-weight: bold;
	letter-spacing: 1px;
	/*color: rgb(128, 128, 128);*/
	text-align: center;
	padding: 1em 0em 3em 0em;
}

.sciencehero {
	text-align: center;
	padding: 10em;
}

.founders, .scientificboard, .devteam {
	padding: 3em 5em 3em 5em;
	text-align: justify;
}

.founder-name, .dev-name {
	font-weight: bold;
}

.bohdan, .evan, .gozani {
	padding: 1em 3em 3em 3em;
}

.devteam-info, .scientificboard-info, .founders-info {
	text-align: center;
	padding: 1em;
	font-weight: bold;
}

.dev1, .dev2 {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	padding-left: 1.5em;
}

.teammate {
	padding: 2em;
	text-align: center;
}

.modal-content {
	-webkit-transform: translate(0, calc(50vh - 50%));
    display: flex;
    justify-content: center;
    /*flex-flow: row wrap;*/
    margin: 0 auto;
    height: 100%;
	width: 100%;
}
    
.signup-container {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    width: 50rem;
    text-align: center;
}

.cancel-icon {
    float: right;
    padding: 0em 0.5em 0em 0.5em;
    cursor: pointer;
}

.signupmessage {
    background: white;
    color: black;
    display: block;
    font-size: 1.8rem;
    line-height: 1;
	padding: 2em;
    text-align: center;
    width: 100%;
}

form {
    background: rgb(143, 188, 143);
    display: flex;
    flex-flow: row nowrap;
    padding: 3rem;
    width: 50rem;
}  

.formwrapper {
    margin: 0 auto;
}


/*.divider {
	height: 1.4px;
    margin: 0 auto;
    width: 50%;
    overflow: hidden;
    background-color: #e5e5e5;
    text-align:center;
} */

